
<div class="home" style='background-image: url("https://images.unsplash.com/photo-1567517024911-289435152490?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80")'>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="jumbotron">
        <h1>TASTE BUDS</h1>
        <h2>A Dining Roulette App for Friends!</h2>
        <hr class="my-4">
        {{!-- <form class="clearfix mb-4" action="POST"> --}}
          <h3> Create an account  </h3>
          <div class="row mt-5">
            <div class="col-md-6 m-auto">
            <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
      
      <form id="login">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" href="/home" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/register">Register</a>
      </p>
    </div>
  </div>
</div>
        {{!-- <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>
<footer class="footer py-3">
	<div class="footer-container text-center">
	  <span class="footer-text d-inline-block">© Created by
	  <a href="https://github.com/jenross" target="_blank">Jen Ross</a>,
	  <a href="https://github.com/dylandavispc" target="_blank">Dylan Davis</a>,
	  <a href="https://github.com/dsanchez910" target="_blank">Daniel Sanchez</a>,
	  <a href="https://github.com/Jamila1975" target="_blank">Jamila Djumadullaeva</a>, 2019</span>
	</div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
